.section{
    background-color: aqua;
}

.topnav a {
    float: right;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-right: 50px;

}

.topnav a.split {
    float: left;
    font-weight: bolder;
    font-size: xx-large;
    margin-left: 50px;

}
.top{
    background-color: brown;
}